ZAIKO_ADDRESS=127.0.0.1:8080
ZAIKO_DATABASE_PATH=.data/zaiko.db
ZAIKO_ENV=development
ZAIKO_COOKIE_SECURE=false
ZAIKO_SESSION_TTL=12h
ZAIKO_PREVIEW_ADMIN_PASSWORD=preview-admin-2026
ZAIKO_PREVIEW_WORKER_PASSWORD=preview-worker-2026
ZAIKO_UPLOAD_DIRECTORY=.data/uploads
ZAIKO_ORGANIZATION_CODE=PREVIEW
